@import "./variables.sass"

body
    background: $base-color

#app
    background: #f0f0f5
    box-shadow: 3px 3px 10px #000
    font-family: 'Avenir', Helvetica, Arial, sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-align: center
    color: $title-color
    margin: 7% 14% 14%
